<div id="charts-page" class="page-view hidden">
    <h3 id="charts-title"></h3>
    <div class="charts-container">
        <div class="chart-card">
            <div class="chart-header">
                <h4 id="planner-chart-title"></h4>
                <div class="chart-type-switcher">
                    <button class="btn-chart-type active" data-type="bar">Barre</button>
                    <button class="btn-chart-type" data-type="line">Linee</button>
                </div>
            </div>
            <canvas id="planner-chart-canvas"></canvas>
        </div>
        <div class="chart-card">
            <div class="chart-header">
                <h4 id="biometrics-chart-title"></h4>
            </div>
            <canvas id="biometrics-chart-canvas"></canvas>
             <p id="biometrics-chart-placeholder" class="placeholder-text hidden"></p>
        </div>
    </div>
</div>
