<div id="charts-page" class="page-view hidden">
    <h3 id="charts-title"></h3>
    <div class="charts-container">
        <div class="chart-card">
            <h4 id="planner-chart-title"></h4>
            <canvas id="planner-chart-canvas"></canvas>
        </div>
        <div class="chart-card">
            <h4 id="biometrics-chart-title"></h4>
            <canvas id="biometrics-chart-canvas"></canvas>
             <p id="biometrics-chart-placeholder" class="placeholder-text hidden"></p>
        </div>
    </div>
</div>
