<div id="library-page" class="page-view hidden">
    <h3>La Mia Libreria</h3>

    <div class="library-controls">
        <div class="view-switcher">
            <button id="library-tab-ingredients" class="btn-view active" data-view="ingredients">Ingredienti</button>
            <button id="library-tab-meals" class="btn-view" data-view="meals">Pasti</button>
            <button id="library-tab-exercises" class="btn-view" data-view="exercises">Esercizi</button>
            <button id="library-tab-templates" class="btn-view" data-view="templates">Schede</button>
        </div>
        <input type="search" id="library-search-input" class="library-search-bar" placeholder="Cerca in ingredienti...">
        <div id="library-tag-filters" class="tag-filter-container"></div>
        <div id="library-specific-filters" class="library-specific-filters"></div>
    </div>

    <div id="library-content-ingredients" class="library-content">
      <div class="library-header">
        <h4>Ingredienti</h4>
        <button id="add-ingredient-btn" class="btn btn-primary">Nuovo</button>
      </div>
      <div id="ingredient-list"></div>
    </div>

    <div id="library-content-meals" class="library-content hidden">
      <div class="library-header">
        <h4>Pasti</h4>
        <button id="add-meal-btn" class="btn btn-primary">Nuovo</button>
      </div>
      <div id="meal-list"></div>
    </div>

    <div id="library-content-exercises" class="library-content hidden">
      <div class="library-header">
        <h4>Esercizi</h4>
        <button id="add-exercise-btn" class="btn btn-primary">Nuovo</button>
      </div>
      <div id="exercise-list"></div>
    </div>

    <div id="library-content-templates" class="library-content hidden">
      <div class="library-header">
        <h4>Schede Allenamento</h4>
        <button id="add-template-btn" class="btn btn-primary">Nuova Scheda</button>
      </div>
      <div id="template-list"></div>
    </div>
</div>
