<div id="info-modal" class="modal-overlay modal-hidden">
    <div class="modal-content">
        <div class="modal-header">
          <h3 id="info-modal-title"></h3>
          <button class="modal-close-btn" data-target="info-modal"></button>
        </div>
        <div class="modal-body">
            <p id="info-modal-desc"></p>
            <pre><code id="info-modal-json-example"></code></pre>
        </div>
    </div>
</div>
<div id="selection-modal" class="modal-overlay modal-hidden">
    <div class="modal-content">
        <div class="modal-header">
          <h3 id="selection-modal-title"></h3>
          <button class="modal-close-btn" data-target="selection-modal"></button>
        </div>
        <div id="selection-modal-list" class="modal-body selection-list"></div>
    </div>
</div>
<div id="workout-selection-modal" class="modal-overlay modal-hidden">
    <div class="modal-content">
        <div class="modal-header">
          <h3 id="workout-selection-modal-title"></h3>
          <button class="modal-close-btn" data-target="workout-selection-modal"></button>
        </div>
        <div id="workout-selection-modal-list" class="modal-body selection-list"></div>
    </div>
</div>
<div id="day-editor-modal" class="modal-overlay modal-hidden">
  <div class="modal-content">
      <div class="modal-header">
        <h3 id="day-editor-title"></h3>
        <button class="modal-close-btn" data-target="day-editor-modal"></button>
      </div>
      <div id="day-editor-body" class="modal-body day-editor-list"></div>
  </div>
</div>
<div id="confirm-modal" class="modal-overlay modal-hidden">
  <div class="modal-content">
      <div class="modal-header">
        <h3 id="confirm-modal-title"></h3>
      </div>
      <div class="modal-body">
        <p id="confirm-modal-message"></p>
      </div>
      <div class="modal-footer">
        <button id="confirm-modal-cancel-btn" class="btn btn-secondary"></button>
        <button id="confirm-modal-confirm-btn" class="btn"></button>
      </div>
  </div>
</div>
<div id="recipe-modal" class="modal-overlay modal-hidden">
  <div class="modal-content">
      <div class="modal-header">
        <h3 id="recipe-modal-title"></h3>
        <button class="modal-close-btn" data-target="recipe-modal"></button>
      </div>
      <div id="recipe-modal-body" class="modal-body recipe-body"></div>
  </div>
</div>
