<div id="global-alert" class="global-alert hidden">
    <p id="global-alert-message"></p>
    <button id="global-alert-close" class="alert-close-btn"></button>
</div>

<div id="planner-page" class="page-view">
    <section class="data-source-container">
        <input type="url" id="config-url-input" placeholder="URL del tuo file config.json...">
        <button id="load-config-btn" class="btn btn-primary"></button>
        <button id="share-config-btn" class="btn-view" title="Condividi Configurazione"></button>
        <button id="info-icon" class="btn-view" title="Mostra formato JSON richiesto"></button>
    </section>
    <section class="view-container">
        <header class="calendar-header">
            <button id="prev-week-btn" class="btn btn-secondary">&lt;</button>
            <h2 id="week-title"></h2>
            <button id="next-week-btn" class="btn btn-secondary">&gt;</button>
        </header>
         <div class="planner-controls-wrapper">
            <div class="view-switcher">
                <button id="view-calendar-btn" class="btn-view active" title="Vista Calendario"></button>
                <button id="view-log-btn" class="btn-view" title="Vista Registro"></button>
            </div>
            <div class="planner-actions">
              <button id="copy-week-btn" class="btn btn-secondary"></button>
              <button id="reset-btn" class="btn btn-secondary"></button>
            </div>
        </div>
        <div id="calendar-grid" class="calendar-grid"></div>
        <div id="log-view" class="log-view hidden"></div>
    </section>
</div>
