<div id="global-alert" class="global-alert hidden">
    <p id="global-alert-message"></p>
    <button id="global-alert-close" class="alert-close-btn"></button>
</div>

<div id="planner-page" class="page-view">
    <section id="today-widget" class="today-widget"></section>
    
    <section id="planner-week-chart-widget" class="chart-card">
        <div class="chart-header">
            <h4 id="planner-week-chart-title"></h4>
        </div>
        <div class="chart-canvas-container" style="height: 250px;">
          <canvas id="planner-week-chart-canvas"></canvas>
        </div>
    </section>

    <section class="view-container">
        <header class="calendar-header">
            <button id="prev-week-btn" class="btn btn-secondary">&lt;</button>
            <h2 id="week-title"></h2>
            <button id="next-week-btn" class="btn btn-secondary">&gt;</button>
        </header>
         <div class="planner-controls-wrapper">
            <div class="planner-actions">
              <button id="copy-week-btn" class="btn btn-secondary"></button>
              <button id="reset-btn" class="btn btn-secondary"></button>
            </div>
        </div>
        <div id="calendar-grid" class="calendar-grid"></div>
        <h3 id="log-view-title" class="section-title">Registro Dettagliato</h3>
        <div id="log-view" class="log-view"></div>
    </section>
</div>
