<div id="progress-page" class="page-view hidden">
    <div id="biometrics-view" class="biometrics-view">
        <h3 id="biometrics-title"></h3>
        <form id="biometrics-form" class="biometrics-form"></form>
        <div class="progress-header">
          <h3 id="biometrics-history-title"></h3>
          <button id="import-csv-btn" class="btn btn-secondary"></button>
        </div>
        <div id="biometrics-list-container" class="biometrics-list-container">
            <div id="biometrics-list" class="biometrics-list"></div>
        </div>
    </div>
</div>
